* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  /*backgrounds*/
  --bg-regular: aquamarine;
  --bg-old: #50c2ff;
  /*bender modi*/
  --regular: lightgray;
  --roest: rgb(155, 86, 30);
  --gold: gold;
  /*foto*/
  --foto: url(https://cdna.artstation.com/p/assets/images/images/027/999/174/large/mark-montague-twitch-prime-bg-artstation-002.jpg?1593184363);
  /*buttons*/
  --btncolor: white;
  --btncolortxt: black;
  --btnaction: tomato;
  --btnactiontxt: white;
  /*general*/
  --parts-border: 5px solid black;
  --scale: 0.8;
}

body {
  background-color: var(--bg-regular);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body.old {
  background-color: var(--bg-old);
}

body.old :is(.colorbtn, #bendcolor) {
  display: none;
}

body.bling {
  background-image: var(--foto);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body #bgfoto {
  display: none;
}

body.bling #bgfoto {
  display: block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #000000;
  background-color: white;
  border: transparent;
  border-bottom: 0.2em black solid;
  height: 3em;
  outline: 1px;
  padding: 0 1em;
  /* width: 300px; */
}

body.bling #intro {
  background-image: linear-gradient (#000000, #2e2d2b);
  color: white;
  text-shadow: 2px 1px 10px black, -2px -1px 10px #ff7600;
}

body.bling :is(.colorbtn, #bendcolor) {
  display: none;
}

#bendcolor {
  z-index: 1100;
  position: absolute;
  right: 10px;
  top: 45%;
  width: 30px;
  height: 30px;
  outline: transparent;
  border-radius: 30px;
  border: var(--parts-border);
  opacity: 0;
}

#bgpicker {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: 2;
  left: 0;
  top: 0;
}

.colorbtn {
  position: relative;
}

#intro {
  position: absolute;
  width: 480px;
  height: 90px;
  display: block;
  top: calc(50% - (90px / 2) + 300px);
  left: calc(50% - 480px / 2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro p {
  margin: 0.5rem;
}

#buttons {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

button {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  min-width: 6em;
  width: auto;
  padding: 0 1em;
  height: 2.8em;
  border-radius: 0.8em;
  outline: none;
  border: 0.2em solid black;
  background-color: var(--btncolor);
  color: var(--btncolortxt);
}

button:active,
button:hover {
  background-color: var(--btnaction);
  color: var(--btnactiontxt);
}

#verkleinen {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  height: calc(2.8em + 0.4em);
  padding: 0.5em 1em;
  border-radius: 1em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.205);
  position: absolute;
  right: 1em;
  top: 1em;
}

#verkleinen > * {
  margin: 10px;
}

#slider {
  width: 100px;
}

#biertje,
.positie {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#biertje {
  background-color: white;
  height: 110px;
  width: 110px;
  border: 0.2em solid black;
  border-radius: 1em;
  bottom: 1em;
  left: 1em;
}

.kleur {
  position: absolute;
  background-color: red;
  height: 60px;
  width: 60px;
  border: 0.2em solid black;
  border-radius: 1em;
  bottom: 50%;
  left: 1em;
}

.positie {
  /* border: 3px dashed black; */
  transform: scale(1.3);
  border-radius: 1em;
  height: 100px;
  width: 100px;
  top: calc(38% - 100px / 2);
  left: calc(50% - 100px / 2);
  z-index: 1001;
}

img {
  width: 80%;
  height: 80%;
  z-index: 1002;
  animation: wiggle-glas 1.2s ease-in infinite alternate;
  animation-play-state: running;
  cursor: grab;
}

img:active {
  cursor: grabbing;
}

@keyframes wiggle-glas {
  0% {
    transform: translateY(4px) rotate(10deg);
  }
  100% {
    transform: translateY(-5px) rotateX(-5deg);
  }
}

.slepen {
  visibility: hidden;
}

.gone {
  display: none;
}

/* >>> BENDER CODE <<< */

.bender {
  transform: scale(var(--scale));
  border: 2px solid black;
  width: 300px;
  height: 580px;
  position: absolute;
  left: calc(50% - 300px / 2);
  top: calc(50% - 580px / 2);
  border: none;
  transition: 1s;
}

.bender * {
  background-color: var(--regular);
  transition-property: background;
  transition: 0.8s;
  position: absolute;
}

.bender :is(.positie, img, .bender .benen, .armen, .vakje) {
  background-color: transparent;
  background-image: none;
}

.bender.roest * {
  background-color: var(--roest);
}

.bender.goud * {
  background-color: var(--gold);
}

.hoofd {
  border: var(--parts-border);
  border-radius: 45px 45px 0 0;
  width: 90px;
  height: 125px;
  left: calc(50% - 90px / 2);
  top: calc(50% - 125px - 205px / 2);
  transform-origin: bottom;
}

.antene {
  border: var(--parts-border);
  width: 15px;
  height: 50px;
  left: calc(50% - 15px / 2);
  top: -50px;
}

.zendertje {
  border: var(--parts-border);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 30px / 2);
  top: -65px;
}

.bender .vision {
  border: var(--parts-border);
  border-radius: 50px;
  background-color: #333333;
  width: 110px;
  height: 40px;
  left: calc(50% - 110px / 2);
  top: 30%;
}

.bender .oog {
  --eye-size: 25px;
  --off-set: 13px;
  border: 3px solid black;
  background-color: beige;
  border-radius: var(--eye-size);
  width: var(--eye-size);
  height: var(--eye-size);
  top: calc(50% - var(--eye-size) / 2);
}

.linker.oog {
  left: var(--off-set);
}

.rechter.oog {
  right: var(--off-set);
}

.pupil {
  border: 3px solid black;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.romp {
  border: var(--parts-border);
  border-radius: 20px;
  width: 165px;
  height: 205px;
  left: calc(50% - 165px / 2);
  top: calc(50% - 205px / 2);
  z-index: 999;
}

.vakje {
  border: var(--parts-border);
  border-radius: 10px;
  width: 130px;
  height: 160px;
  left: calc(50% - 130px / 2);
  top: calc(50% - 160px / 2);
}

.knoopje {
  --maat: 25px;
  border: var(--parts-border);
  border-radius: var(--maat);
  width: var(--maat);
  height: var(--maat);
  right: 10px;
  top: calc(50% - var(--maat) / 2);
  z-index: 999;
}

.armen {
  background-color: transparent;
  width: 225px;
  height: 160px;
  left: calc(50% - 225px / 2);
  top: calc(50% - 190px / 2);
}

.joint {
  border: var(--parts-border);
  border-radius: 100%;
  width: 60px;
  height: 60px;
  top: 0;
}

.linker.joint {
  left: 0;
}

.rechter.joint {
  right: 0;
}

.arm {
  border: var(--parts-border);
  border-radius: 50px;
  width: 30px;
  height: 160px;
  top: 12.5px;
  transition: 2s;
  transition-property: transform;
  z-index: -1;
}

.linker.arm {
  transform: rotate(5deg);
  transform-origin: 60% 10%;
  left: 0;
}

.rechter.arm {
  transform: rotate(-5deg);
  transform-origin: 40% 10%;
  right: 0;
}

.benen {
  width: 165px;
  height: 160px;
  left: calc(50% - 165px / 2);
  top: calc(50% + 160px / 2);
}

.been {
  border: var(--parts-border);
  width: 30px;
  height: 200px;
  top: 0;
}

.linker.been {
  left: 15%;
}

.rechter.been {
  right: 15%;
}

.voet {
  --offset: -12px;
  border: var(--parts-border);
  border-radius: 70% 50% 20% 20%;
  width: 60px;
  height: 45px;
  bottom: -10px;
}

.linker.voet {
  right: var(--offset);
}

.rechter.voet {
  left: var(--offset);
  transform: scaleX(-1);
}

/* bender slaapt*/

.slapen {
  transition: 1s;
}

.bender.slapen .romp {
  top: 50%;
}

.bender.slapen .hoofd {
  top: 35%;
  transition: 0.8s;
}

.bender.slapen .armen {
  top: 53%;
  transform: scale(0.1);
  transition: 0.6s;
}

.bender.slapen .antene {
  top: -10%;
  height: 10px;
}

.bender.slapen .zendertje {
  top: -30%;
}

.bender.slapen .vision > * {
  background-color: grey;
  border-radius: 1em;
  height: 10px;
  top: 10px;
}

.bender.slapen .pupil {
  display: none;
}

/*bender loopt*/

.bender.lopen .hoofd {
  animation: hoofd-tilt 0.8s linear infinite alternate both;
}

@keyframes hoofd-tilt {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.bender.lopen {
  --beweeg: been-beweging 0.6s infinite alternate;
  --stappen: cubic-bezier(0, 0.2, 0.5, 0.8);
  animation: dichtbij-komen 4.8s linear both infinite;
}

.bender.lopen .linker.been {
  animation: var(--beweeg) 0s;
  animation-timing-function: var(--stappen);
}

.bender.lopen .rechter.been {
  animation: var(--beweeg) -0.6s;
  animation-timing-function: var(--stappen);
}
@keyframes dichtbij-komen {
  0% {
    transform: scale(var(--scale));
  }
  5% {
    transform: scale(calc(var(--scale) / 2));
  }
  100% {
    /* transform: scale(0.8); */
    transform: scale(var(--scale));
  }
}

@keyframes been-beweging {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-20%) scale(0.92);
  }
}

.bender.lopen .linker.arm {
  animation: opstart3 0.6s infinite alternate linear;
}

@keyframes opstart3 {
  0% {
    transform: rotate(5deg);
    transform-origin: 40% 10%;
    height: 160px;
  }
  100% {
    transform: rotate(10deg);
    transform-origin: 40% 10%;
    height: 150px;
  }
}

.bender.lopen .rechter.arm {
  animation: opstart4 0.6s infinite alternate linear;
}

@keyframes opstart4 {
  0% {
    height: 160px;
    transform: rotate(-10deg);
    transform-origin: 40% 10%;
  }
  100% {
    height: 160px;
    transform: rotate(-5deg);
    transform-origin: 40% 10%;
  }
}

.bender.lopen .vakje {
  animation: vakje-heen-weer 0.6s infinite alternate linear;
  z-index: 999;
  will-change: transform;
}

@keyframes vakje-heen-weer {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}

/*bender happy*/

.bender.happy .linker.arm {
  transform: rotate(120deg);
  transform-origin: 60% 10%;
  transition: 1s;
}

.bender.happy .rechter.arm {
  transform: rotate(-120deg);
  transform-origin: 40% 10%;
  transition: 1s;
}

/* bender zwaait */

.bender.zwaai .rechter.arm {
  animation: 3s zwaaien ease-in-out both;
}

@keyframes zwaaien {
  0% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(-170deg);
  }

  50% {
    transform: rotate(-130deg);
  }

  70% {
    transform: rotate(-170deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@media (max-height: 705px) {
  #intro {
    transform: scale(0.7);
    transition: 0.2s;
    transition-property: transform;
    top: calc(50% - (90px / 2) + 240px);
  }

  #verkleinen {
    display: none;
  }

  .bender {
    transition: 0.2s;
    transition-property: transform;
    transform: scale(0.7);
  }
  @keyframes dichtbij-komen {
    0% {
      transform: scale(0.7);
    }
    5%{
      transform: scale(0.3);
    }
    100% {
      transform: scale(0.7);
    }
  }
}

@media (max-height: 600px) {
  #intro {
    transform: scale(0.5);
    transition: 0.2s;
    transition-property: transform;
    top: calc(50% - (90px / 2) + 180px);
  }

  .bender {
    transition: 0.2s;
    transition-property: transform;
    transform: scale(0.5);
  }
  @keyframes dichtbij-komen {
    0% {
      transform: scale(0.5);
    }
    5% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(0.5);
    }
  }
}

@media (max-height: 420px) {
  body > * :not(.bender, #verkleinen) {
    display: none;
  }

  .bender:after {
    font-family: "Impact", sans-serif;
    font-size: 50px;
    opacity: 1;
    content: "The screen is too small";
    display: block;
    text-align: center;
    border: var(--parts-border);
    position: absolute;
    width: 500px;
    background-color: white;
    box-shadow: 0.5em 0.5em 0px rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: reveal 2s alternate forwards;
  }
  @keyframes reveal {
    0% {
      transform: translate(-50%, -50%);
      box-shadow: 0.1em 0.1em 0px rgba(0, 0, 0, 0);
    }
    100% {
      transform: translate(-52%, -52%);
    }
  }
}

@media (max-width: 704px) {
  body > * :not(.bender, #verkleinen) {
    display: none;
  }

  body.bling #bgfoto {
    display: none;
  }

  .bender:after {
    font-family: "Impact", sans-serif;
    font-size: 50px;
    opacity: 1;
    content: "The screen is too small";
    display: block;
    text-align: center;
    border: var(--parts-border);
    position: absolute;
    width: 500px;
    background-color: white;
    box-shadow: 0.4em 0.4em 0px rgba(0, 0, 0, 0.19);
    border-radius: 0.3em;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: reveal 0.8s alternate forwards;
  }
  @keyframes reveal {
    0% {
      transform: translate(-50%, -50%);
      box-shadow: 0em 0em 0px rgba(0, 0, 0, 0);
    }
    100% {
      transform: translate(-52%, -52%);
    }
  }
}

@media (max-width: 800px) {
  #verkleinen {
    display: none;
  }
}

@media (max-width: 900px) {
  #verkleinen > p {
    display: none;
  }
}
